@{
    ViewData["Title"] = "Strona Główna";
}

<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    #welcome {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFEDE9;
        padding: 30px 40px;
        border-radius: 30px;
        margin: 30px;
        position: relative;
        border: 1px solid #F48C4A;
        overflow: hidden;
    }

    .welcome-text {
        max-width: 80%;
    }

        .welcome-text h1 {
            font-size: 32px;
            font-family: 'Merriweather', serif;
            color: #533535;
        }

        .welcome-text p {
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            color: #533535;
        }

        .welcome-text button {
            padding: 20px 20px;
            background-color: #3E4997;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-family: 'Poppins', sans-serif;
        }

    .welcome-image {
        position: relative;
        width: 50%; /* Ensure the image container takes up 50% of the section */
        display: flex; /* Use flex to align content */
        justify-content: center; /* Center image horizontally */
        align-items: center; /* Center image vertically */
    }

        .welcome-image img {
            border-radius: 0px;
            max-width: 100%; /* Make image fill its container */
            height: auto;
            position: relative;
            z-index: 10;
            display: block; /* Remove any inline spacing */
            margin: 0; /* Remove default margin */
        }

        .welcome-image::before {
            content: '';
            background-color: #F48C4A;
            width: 300px; /* Adjusted circle size */
            height: 300px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
        }

    .section {
        padding: 60px 20px;
        text-align: center;
    }

        .section h2 {
            font-size: 36px;
            margin-bottom: 20px;
            font-weight: bold;
            color: #333;
        }

    .courses-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .course-card {
        background-color: white;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin: 15px;
        overflow: hidden;
        width: 300px;
        text-align: center;
    }

        .course-card img {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 15px 15px 0 0;
        }

        .course-card .content {
            padding: 20px;
        }

        .course-card h3 {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: bold;
            color: #333;
        }

        .course-card p {
            font-size: 16px;
            line-height: 1.6;
            margin-bottom: 20px;
            color: #555;
        }

        .course-card .enroll-button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            color: white;
            background-color: #f57c00;
            border-radius: 5px;
            text-decoration: none;
        }

            .course-card .enroll-button:hover {
                background-color: #ef6c00;
            }

    .testimonials {
        background-color: #CDDFEF;
        color: black;
        padding: 60px 20px;
        border-radius: 15px;
        margin: 20px;
    }

    .testimonial {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

        .testimonial img {
            border-radius: 50%;
            margin-right: 20px;
            width: 80px;
            height: 80px;
        }

        .testimonial p {
            font-size: 18px;
            line-height: 1.6;
            font-style: italic;
            color: #666;
            flex: 1;
        }

        .testimonial h4 {
            font-size: 20px;
            margin-top: 10px;
            font-weight: bold;
            color: #333;
        }

    .gallery {
        margin: 20px;
        border-radius: 15px;
        overflow: hidden;
    }

    .enroll-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
        text-decoration: none;
    }

        .enroll-button:hover {
            opacity: 0.9; /* Slight hover effect */
        }

        .enroll-button.english {
            background-color: #007bff; /* Blue for English */
        }

        .enroll-button.spanish {
            background-color: #ff0000; /* Red for Spanish */
        }


    .carousel-inner img {
        border-radius: 15px;
    }

    .faq-container {
        background-color: #ffe6cc; /* Light background color to match testimonials */
        color: black;
        padding: 60px 20px;
        border-radius: 20px; /* Rounded edges */
        margin: 20px;
    }

    .faq-section {
        padding: 60px 20px;
        max-width: 800px;
        margin: auto;
    }

        .faq-section h2 {
            font-size: 36px;
            margin-bottom: 20px;
            font-weight: bold;
            color: #333;
            text-align: center;
        }

    .faq-item {
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        overflow: hidden;
        cursor: pointer;
        padding: 15px;
        transition: all 0.3s ease;
    }

        .faq-item .faq-question {
            font-size: 20px;
            font-weight: bold;
            color: #333;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .faq-item .faq-answer {
            display: none;
            font-size: 18px;
            color: #555;
            margin-top: 10px;
        }

        .faq-item.active .faq-answer {
            display: block;
        }

        .faq-item.active .faq-question::after {
            content: "\25B2";
        }

        .faq-item .faq-question::after {
            content: "\25BC";
            font-size: 18px;
            color: #333;
        }
</style>

<div class="text-center">
    <main>
        <!-- Hero Section -->
        <section id="welcome">
            <div class="welcome-text">
                <h1>Witamy w ALEF Online Academy!</h1>
                <p>Odkryj swój potencjał dzięki profesjonalnym lekcjom językowym z wygody swojego domu. Dołącz do nas już dziś i zacznij doskonalić swoje umiejętności!</p>
                <button>Rozpocznij naukę</button>
            </div>
            <div class="welcome-image">
                <img src="~/img/Image header.png" alt="Zdjęcie powitalne">
            </div>
        </section>

        <!-- Courses Section -->
        <section id="courses" class="section">
            <h2>Nasze Najlepsze Kursy</h2>
            <div class="courses-container">
                <div class="course-card">
                    <img src="~/img/England.png" alt="Kurs Języka Angielskiego">
                    <div class="content">
                        <h3>Kurs Języka Angielskiego</h3>
                        <p>Opanuj angielski dzięki naszym kompleksowym kursom zaprojektowanym dla wszystkich poziomów zaawansowania.</p>
                        <a href="@Url.Action("index", "Courses")" class="enroll-button english">Zapisz się</a>
                    </div>
                </div>
                <div class="course-card">
                    <img src="~/img/Germany Flag.png" alt="Kurs Języka Niemieckiego">
                    <div class="content">
                        <h3>Kurs Języka Niemieckiego</h3>
                        <p>Zanurz się w języku niemieckim dzięki naszemu kursowi prowadzonemu przez ekspertów.</p>
                        <a href="@Url.Action("index", "Courses")" class="enroll-button">Zapisz się</a>
                    </div>
                </div>
                <div class="course-card">
                    <img src="~/img/spanish flag.png" alt="Kurs Języka Hiszpańskiego">
                    <div class="content">
                        <h3>Kurs Języka Hiszpańskiego</h3>
                        <p>Odkryj piękno języka hiszpańskiego dzięki spersonalizowanej nauce.</p>
                        <a href="@Url.Action("index", "Courses")" class="enroll-button spanish">Zapisz się</a>
                    </div>
                </div>
            </div>
        </section>

        <!-- Testimonials Section -->
        <section id="testimonials" class="testimonials section">
            <h2>Opinie Uczniów</h2>
            <div class="testimonial">
                <img src="~/img/student 1.png" alt="Uczeń 1">
                <div>
                    <p>"ALEF Online Academy odmieniło moje umiejętności językowe. Nauczyciele są kompetentni, a lekcje są angażujące. Gorąco polecam!"</p>
                    <h4>Yana D. - Uczeń Kursu Angielskiego</h4>
                </div>
            </div>
            <div class="testimonial">
                <img src="~/img/student 2.png" alt="Uczeń 2">
                <div>
                    <p>"Nauka niemieckiego w ALEF była wspaniałym doświadczeniem. Interaktywne lekcje i wskazówki kulturowe naprawdę pomogły mi lepiej zrozumieć język."</p>
                    <h4>Anna S. - Uczeń Kursu Niemieckiego</h4>
                </div>
            </div>
            <div class="testimonial">
                <img src="~/img/student 3.png" alt="Uczeń 3">
                <div>
                    <p>"Kurs hiszpańskiego w ALEF jest najwyższej jakości. Lekcje są zabawne, a instruktorzy bardzo wspierający."</p>
                    <h4>Carlos R. - Uczeń Kursu Hiszpańskiego</h4>
                </div>
            </div>
        </section>

        <div class="faq-container">
            <div class="faq-section">
                <h2>Najczęściej Zadawane Pytania</h2>

                <div class="faq-item">
                    <div class="faq-question">Jak zapisać się na kurs?</div>
                    <div class="faq-answer">
                        Zapisanie się na kurs jest proste! Kliknij przycisk 'Zapisz się teraz' na naszej stronie głównej, wybierz pożądany kurs i wypełnij formularz rejestracyjny. Nasz zespół skontaktuje się z Tobą, aby omówić szczegóły.
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">Jaki jest czas trwania każdego kursu?</div>
                    <div class="faq-answer">
                        Czas trwania każdego kursu różni się w zależności od przedmiotu i poziomu. Zazwyczaj nasze kursy trwają od kilku tygodni do kilku miesięcy. Szczegółowe informacje znajdziesz w opisach kursów na naszej stronie.
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">Czy zajęcia są na żywo czy nagrane?</div>
                    <div class="faq-answer">
                        Oferujemy zarówno zajęcia na żywo, jak i nagrane. Zajęcia na żywo umożliwiają interakcję w czasie rzeczywistym z instruktorami, podczas gdy nagrane zajęcia pozwalają na naukę w dogodnym dla Ciebie czasie. Możesz wybrać opcję, która najlepiej odpowiada Twojemu stylowi nauki.
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">Czy otrzymam certyfikat po ukończeniu kursu?</div>
                    <div class="faq-answer">
                        Tak, po pomyślnym ukończeniu kursu otrzymasz certyfikat ukończenia, który możesz dodać do swojego CV lub profilu LinkedIn.
                    </div>
                </div>

                <div class="faq-item">
                    <div class="faq-question">Jak mogę skontaktować się z działem obsługi klienta?</div>
                    <div class="faq-answer">
                        Możesz skontaktować się z naszym działem obsługi klienta poprzez e-mail na adres support@alefacademy.com lub poprzez formularz kontaktowy na naszej stronie. Jesteśmy tutaj, aby pomóc w każdej kwestii.
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script>
    document.querySelectorAll('.faq-item').forEach(item => {
        item.addEventListener('click', () => {
            item.classList.toggle('active');
        });
    });
</script>
