@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <main>
        <section class="hero">
            <div class="hero-text">
                <h1>Welcome to ALEF Online Academy</h1>
                <p>
                    At Alef Online Academy, we are committed to transforming learning into a dynamic journey of growth and discovery. Our mission is to empower individuals of all ages to thrive in an ever-evolving world through education that is both enriching and accessible.

                    Explore our extensive array of courses designed to meet diverse learning needs:

                    🌍 Language Mastery: Immerse yourself in a world of languages with courses that foster fluency and cultural understanding.

                    🔬 Scientific Exploration: Delve into the wonders of mathematics, physics, and other scientific disciplines, unraveling the complexities of our universe.

                    💻 Tech Innovation: From coding fundamentals to cutting-edge technologies, our programs in computer science equip you with the skills needed to innovate and lead in the digital age.

                    Experience personalized learning at its finest, where interactive lessons, expert guidance, and dedicated support converge to nurture your intellectual curiosity and ignite your potential. Join Alef Online Academy today and embark on a transformative educational journey that prepares you for success in tomorrow's world! 🚀.
                </p>
            </div>
        </section>
        <section id="courses">
            <h2>Our Courses</h2>
            <p>Explore our wide range of courses in Language Studies, Sciences, Math, Coding, and English.</p>
        </section>
        <section id="testimonials">
            <h2>Testimonials</h2>
            <p>Read what our students have to say about their experience at ALEF Online Academy.</p>
        </section>
    </main>
</div>
8