@{
    ViewData["Title"] = "Coding Course";
}

<h1>Master the Language of the Future: Coding Course</h1>

<p>In the digital age, coding is an essential skill. Our coding course is designed for beginners and advanced learners alike, covering languages like Python, JavaScript, HTML, CSS, and more. Learn to build websites, develop software, and solve complex problems with code.</p>

<h2>What You'll Learn:</h2>
<ul>
    <li>Fundamentals of Programming Languages</li>
    <li>Web Development and Design</li>
    <li>Software Development and Algorithms</li>
    <li>Debugging and Version Control</li>
</ul>

<h2>Why Enroll:</h2>
<ul>
    <li>Hands-on coding projects and challenges</li>
    <li>Access to coding bootcamps and hackathons</li>
    <li>Mentorship from industry professionals</li>
    <li>Certificate upon course completion</li>
</ul>

<h2>Career Opportunities:</h2>
<ul>
    <li>Software Developer</li>
    <li>Web Developer</li>
    <li>Data Scientist</li>
    <li>IT Specialist</li>
</ul>
