@model IEnumerable<Alef_Academy_Main.Models.Courses>

@{
    ViewData["Title"] = "Courses Gallery";
}

<div class="container mt-4">
    <h1 class="text-center mb-4">Our Courses Gallery</h1>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="/images/AlefScience.jpeg" class="card-img-top" alt="Science">
                <div class="card-body">
                    <h5 class="card-title">Scientific Exploration</h5>
                    <p class="card-text">Delve into the wonders of mathematics, physics, and other scientific disciplines, unraveling the complexities of our universe.</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Details", "Courses", new { id = 1 })" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="/images/Mathematics.jpg" class="card-img-top" alt="Math">
                <div class="card-body">
                    <h5 class="card-title">Advanced Mathematics</h5>
                    <p class="card-text">Explore advanced mathematical concepts and problem-solving techniques.</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Details", "Courses", new { id = 2 })" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="/images/language.jpg" class="card-img-top" alt="Language Studies">
                <div class="card-body">
                    <h5 class="card-title">Language Studies</h5>
                    <p class="card-text">Learn new languages and improve your proficiency in existing ones.</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Details", "Courses", new { id = 3 })" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card h-100">
                <img src="/images/coding.jpg" class="card-img-top" alt="Coding">
                <div class="card-body">
                    <h5 class="card-title">Introduction to Coding</h5>
                    <p class="card-text">Begin your journey into the world of coding with our comprehensive courses.</p>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Details", "Courses", new { id = 4 })" class="btn btn-primary">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>
